.register-title {
    padding-top: 5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
    font-weight: bold;
    margin-left: 30px;
    color: #353535;
}

.message-image {
  width: 370px;
  height: 370px;
  object-fit: cover;
  margin: 5px 30px 30px 40px;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  border-radius: 5px;
  float: right;
}

.register-form {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.data-label {
    display: inline;
  font-size: 1em;
  margin: 20px 0px 20px 20px;
}
.data-input {
    width: 300px;
}

.message {
  width: 300px;
  margin: 20px;
}

.btn-submit {
  background: #008e3d;
  text-decoration-color: white;
  margin: 20px;
  padding: 10px;
  width: 100px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.494);
  cursor: pointer;
}
