html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
b,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.logo {
  padding-left: 30px;
  padding-top: 16px;
  height: 96px;
  float: left;
}
.restaurant {
  width: 50%;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-top: 40px;
}

h3 {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  justify-content: center;
  font-size: 1em;
  color: #555555;
  padding-top: 5px;
}
header {
  height: 150px;
}

nav {
  padding: 5px 5px 5px 30px;
  margin-top: 30px;
  margin-bottom: 20px;
  background-color: #F83E25;
  font-family: Tahoma, sans-serif;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.btnNav {
  font-family: Tahoma, sans-serif;
  border: transparent;
  padding: 8px 20px 8px 20px;
  margin-right: 10px;  
  font-size: 0.8em;
  background-color: #F83E25;
  color: #FFF; 
  justify-content: flex-start;
}
.btnNav:hover {
  background-color: #f78172;
  color: black;
  font-style: italic;
}

.searchBar {
  margin-right: 30px;
  border: transparent;
  color: #f78172;
}
input {
  width: 250px;
  padding: 4px;
  border-radius: 3px;
  margin-right: 5px;
  margin-left: 30px;
}

input:valid {
  color: #F83E25;
  border: transparent;
}
